extends ../layouts/common.pug
block content
    h1.mb-5 Chi tiết
    .container
        p
            strong.mr-5 Tên 
            span= user.name
        p
            strong.mr-5 STK 
            span= user.phone
        p 
            strong.mr-4 Địa chỉ
            span Hà Nội